* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body, footer{
    padding: 0 10vw;
}

body{
    padding-bottom: 8vh;
}

footer{
    padding-top: .25rem;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.3);
    left: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
    flex-wrap: wrap;
    height: 8vh;
    width: 100vw;
}

footer > strong{
    margin: 0 .5rem;
}

.full-row{
    flex: 0 0 100%;
}

article{
    margin: 5vh 0;
}

nav > ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav > ul > li{
    margin: 0 5vw;
}

h1.page-title{
    text-align: center;
}

.main-art{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    border-radius: 20px;
    background-color: beige;
}

.main-art > h1{
    flex: 0 0 100%;
    text-transform: uppercase;
    text-align: center;
}

.main-art > p{
    flex: 0 0 50%;
    text-align: justify;
}

.paragraph-image {
    flex: 0 0 30%;
    margin: 0 5rem;
}
.paragraph-image.left{
    order: 0;
}

.paragraph-image.right{
    order: 1;
}

a:visited {
    color: #f0f;
}

.pregunta{
    padding: 2rem;
    transition: .2s all;
    background-color: #ddd;
    border: 1px #aaa solid;
    border-radius: 10px;
}

.pregunta:hover{
    background-color: #eee;
}

.pregunta-titulo{
    text-align: center;
}

#footnote-1,
#footnote-3,
#footnote-5{
    margin-left: 3em;
}
